@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  margin: 0 auto;
  text-align: center;
  font-family: Poppins, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #121212;
}

body {
  background: #F5F5F5;
}

.cover {
  height: calc(100vh - 126px);
  background-image: url('../assets/cover.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.new_arrivals {
  height: 59rem;
}

.product {
  height: 500px;
}

.product img {
  -webkit-box-shadow: 1px 4px 26px -11px rgba(66, 68, 90, 1);
  -moz-box-shadow: 1px 4px 26px -11px rgba(66, 68, 90, 1);
  box-shadow: 1px 3px 26px -13px rgba(66, 68, 90, 1);
}

.splide__arrow svg {
  fill: #121212 !important;
}